
@import "tailwindcss";

#menu-toggle:checked + #menu {
    display: block;
  }

  *{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .monteserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .bg-primary {
    background-color: #E6E6FA;
  }
  .text-primary {
    color: #E6E6FA;
    
  }
  .scrollarea-scrollbar {
    background-color: #e5e7eb; /* light gray */
    width: 6px;
    border-radius: 4px;
  }
  
  .scrollarea-thumb {
    background-color: #9ca3af; /* darker gray */
    border-radius: 4px;
  }
