
@import "tailwindcss";

#menu-toggle:checked + #menu {
    display: block;
  }

  *{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .monteserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .bg-primary {
    background-color: #E6E6FA;
  }
  .text-primary {
    color: #E6E6FA;
    
  }
